/*p{

color: purple ;
}

a{

color: inherit;
}

.parrafo {
color: red;

}

#parrafo{

color: black;
}

.square{
background:red;
width:100px;
height:100px;
padding:20px;
border: 5px solid black;

}

img{

height:400px;
width:1800px;

}

*{
box-sizing: border-box;
}*/

/*****MAS EJEMPLOS******/
h1{
background: gray;

}

h2{

background: #6DB4B2;
}

a{

background: #801E10;
}

.box-1{
width: 150px;
height: 150px;
background: lightgreen;
padding: 40px;
border: 10px solid blue;
border-top:none;
margin: 10px;
box-sizing: border-box;

}

.box-2{
margin: 5px;
width: 150px;
height: 150px;
background: lime;
border: 5px solid black;
border-left-width:10px;
border-left-style:dotted;
border-left-color:silver;
}

.box-3{
margin: 5px;
width: 150px;
height: 150px;
background: lightblue;
border: 5px solid lightcoral;
outline: 5px solid lightcoral;
outline-offset: -45px;

}

